.photoResize {
  object-fit: scale-down;
  width: 60px !important;
  height: 60px !important;
}

.tdth1Resize {
  width: 5% !important;
  /*width: 20px !important;*/
  text-align: left !important;
  vertical-align: middle !important;
  padding: 7px !important;
  color: #4a4945 !important;
}

.tdth2Resize {
  width: 30% !important;
  /*width: 180px !important;*/
  text-align: left !important;
  vertical-align: middle !important;
  padding: 7px !important;
  color: #4a4945 !important;
}

.tdth3Resize {
  width: 10% !important;
  /*width: 180px !important;*/
  text-align: right !important;
  vertical-align: middle !important;
  padding: 7px !important;
  color: #4a4945 !important;
}

.tdth4Resize {
  width: 5% !important;
  /*width: 180px !important;*/
  text-align: right !important;
  vertical-align: middle !important;
  padding: 7px !important;
}
